<div class="search">
  <%= form_tag(trips_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search_from, params[:search_from], placeholder: "Search from", :class => 'input' %>
    <%= text_field_tag :search_to, params[:search_to], placeholder: "Search to", :class => 'input' %>
    <%= submit_tag "Search" %>
  <% end %>
</div>