h3
  span.text-muted Мои личные данные
hr/
= simple_form_for(@user, url: account_profile_path(@user.id)) do |t|
  .jumbotron
    table.table
      tbody
        tr
          td Пол
          td= @user.gender
        tr
          td Имя
          td= t.input :first_name, label: false
        tr
          td Фамилия
          td= t.input :last_name, label: false
        tr
          td Дата рождения
          td= t.input :birth_date, label: false
        tr
          td Город
          td= t.input :city, label: false
        tr
          td О себе
          td
            .alert.alert-info role="alert" 
              | Расскажите о себе другим пользователям (не менее 10 символов).
            = t.input :mini_bio, label: false
  = t.submit 'Сохранить'
