doctype html
html
  head
    title
      | Findtrip
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    nav.navbar
      .container
        .navbar-header
          a.navbar-brand[href="#"]
            | FindTrip
        #navbar.navbar-collapse.collapse
          form.navbar-form.navbar-right
            - if user_signed_in?
              span
                = link_to 'Панель управления', admin_control_path
              = link_to 'Выйти', destroy_user_session_path, :method => :delete
            - else
              .btn-group[role="group"]
                = link_to 'Войти', new_user_session_path
              .btn-group[role="group"]
                = link_to 'Регистрация', new_user_registration_path
      .masthead
        nav.navbar.navbar-default
          ul.nav.nav-pills
            li
              = link_to 'Главная', root_path
            li
              a[href="#"]
                | Блог
            li
              a[href="#"]
                | О нас
            li
              a[href="#"]
                | Отзывы
    .container
      = render 'shared/alert'
      = yield
      = render 'shared/footer'
